@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

 body {
  background:#F8F8F8
}

/*@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


.mainBg::after {
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 50%;
  background-image: linear-gradient(
      0deg,
      #7622FF 0px,
      #7622FF 1px,
      transparent 1px,
      transparent 100px
    ),
    linear-gradient(
      90deg,
      #7622FF 0px,
      #7622FF 1px,
      transparent 1px,
      transparent 100px
    );
  background-size: 250px 200px;
  opacity: 0.1;
  z-index: -1;
}



.image-slider-container .slick-prev:before,
.image-slider-container .slick-next:before {
  color: black;
}







.input-cursor {
  display: inline-block;
  width: 2px;
  height: 80px;
  background-color: black;
  margin-left: 8px;
  animation: blink .10s linear infinite alternate;
}
@keyframes blink {
  0% {opacity: 1;}
  40% {opacity: 1;}
  60% {opacity: 0;}
  100% {opacity: 0;}
}






.ecosystem-sticky {
  z-index: 2;
  width: 100%;
  height: 62vh;
  padding: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}



.containers {
  height: 300px; /* 滚动容器的高度 */
  overflow-y: scroll;
  scroll-snap-type: y mandatory; /* 纵向滚动，吸附滚动 */
}
.content {
  height: 400px; /* 内容块的高度，确保大于滚动容器的高度 */
  scroll-snap-align: start; /* 吸附到顶部 */
  padding: 20px;
  border: 1px solid #ccc;
}
.content:nth-child(odd) {
  background-color: #f0f0f0;
}
.content:nth-child(even) {
  background-color: #e0e0e0;
}


#progress-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 8px; /* 进度条宽度 */
  background-color: #7622FF;
  z-index: 9999; /* 保证在最上层 */
}
#progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #4caf50; /* 进度条颜色 */
  transition: height 0.2s ease; /* 过渡效果 */
}