@tailwind base;
/* @tailwind components; */
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
html{
  font-family: 'Outfit';
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

table {
  color: #FFFFFF;
}

th, td {
  border: 1px solid #D9D9D9;
  padding: 20px;
  text-align: left;
  height: 62px;
  font-weight: 300;

}


tr.no-border th {
  border: none;
}

tr.title td {
  width: 100px;
}

.table-container {
  max-width: 100%;
  padding-right: 10px;
}


/* th:first-child, td:first-child {
  position: sticky;
  left: 0;
  z-index: 10;
  min-width: 100px;

}
th:first-child::before, td:first-child::before {
  content: '';
  position: absolute;
  left: -1px; 
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: #FFFFFF;
}

th:first-child {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
} */



th:first-child, td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}


.font1{
  font-weight: 700;
}


