@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white
}

table {
  border-collapse: collapse;
  width: 100%;
  color: #FFFFFF;
}

th, td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
  height: 62px;
  font-weight: 300;

}


tr.no-border th {
  border: none;
}

tr.title td {
  width: 100px;
}

.table-container {
  overflow-x: auto;
  max-width: 100%;
}


th:first-child, td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}



.font1{
  font-weight: 700;
}


